html {
	background: black;
}

body {
	background: white;
	font-family: 'Georgia', serif;
	margin: 0.25cm;
}

.navigation {
	color: white;
	background: black;
}

.logobox a {
	font-size: 24pt;
	vertical-align: middle;
}

.logobox a img {
	width: 64px;
	position: absolute;
	right: 0.25cm;
	top: 0.25cm;
}

@media (min-width: 501px) {
	.logobox a {
		display: block;
		float: right;
		height: 64px;
		line-height: 64px;
	}

	.logobox a img {
		width: 64px;
		position: static;
		float: right;
	}


	.navigation {
		animation: deglow 0.5s;
	}

	.navigation:hover {
		background: #333;
		animation: glow 2s;
	}

	@keyframes deglow {
		from { background: #333; }
		to { background: #000; }
	}

	@keyframes glow {
		from { background: #000; }
		to { background: #333; }
	}
}

.navigation a {
	color: white;
}

.content {
	background: #333;
	color: #ddd;
	padding-bottom: 0.5cm;
}

.content a {
	color: #9ff;
}


ul.menubox {
	list-style-type: none;	
	line-height: 64px;
	padding: 0;
	margin: 0 auto;
}

ul.menubox li {
	display: inline;
}

h1, h2, h3, h4, small {
	font-family: 'Helvetica', sans-serif;
}

small {
	font-size: 9pt;
}

p, .logobox, ul, table, h1, h2, h3, .subtitle {
	box-sizing: border-box;
	max-width: 18cm;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

h2.subtitled {
	padding-bottom: 0;
	margin-bottom: 0;	
}

span.subtitle {
	padding-bottom: 0.5cm;
	font-style: italic;
	display: block;
}

h1, h2 ,h3 {
	padding-top: 1ex;
	clear: both;
}

h2 {
	border-bottom: solid 2px white;
}

p.code {
	font-family: monospace;
}

{% wiki %}

.projects p a {
	display: block;
}

.projects {
	max-width: 18cm;
	margin-left: auto;
	margin-right: auto;
}

.projects>div {
	box-sizing: border-box;
	padding-right: 1cm;
	float: left;	
	width: 9cm;
}

ul.concatenation {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	max-width: 18cm;
	margin-left: auto;
	margin-right: auto;
}

ul.concatenation li {
	display: inline;
}

ul.concatenation li + li:before {
	content: ', ';
}

ul.concatenation li:last-child:before {
	content: ' and ';
}

.footer {
	background: black;
	color: white;
	text-align: center;
}