html {
	background: black;
}

body {
	background: white;
	font-family: 'Georgia', serif;
}

.navigation {
	color: white;
	background: black;
	animation: deglow 0.5s;
}

.navigation:hover {
	background: #333;
	animation: glow 2s;
}

@keyframes deglow {
	from { background: #333; }
	to { background: #000; }
}

@keyframes glow {
	from { background: #000; }
	to { background: #333; }
}

.navigation a {
	color: white;
}

.content {
	background: #333;
	color: #ddd;
	padding-bottom: 0.5cm;
}

.content a {
	color: yellow;
}

.logobox a {
	display: block;
	float: right;
	height: 64px;
	font-size: 24pt;
	vertical-align: middle;
	line-height: 64px;
}

.logobox a img {
	width: 64px;
	float: right;
}

ul.menubox {
	list-style-type: none;	
	line-height: 64px;
	padding: 0;
	margin: 0 auto;
}

ul.menubox li {
	display: inline;
}

h1, h2, h3, h4, small {
	font-family: 'Helvetica', sans-serif;
}

small {
	font-size: 9pt;
}

p, .logobox, ul, table, h1, h2, h3 {
	box-sizing: border-box;
	max-width: 18cm;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

p.code {
	font-family: monospace;
}

{% wiki %}