@import url("nav.css");
@import url("syntax.css");

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13pt;
	margin: 0;
	padding: 0;
	background: #2c2c2c;
}

body.main {
	background-image: url('/static/maan3.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

b, h1, h2, h3, a, h4 {
	color: #ffdc63;
}

.content {	
	color: #eee;
	position: relative;
	top: 32px;
}

.bar {
	padding-bottom: 32px;
}

.full h3, .half h3, .third h3 {
	margin-top: 0;
}

.title.bar .subtitle a.download {
	display: block;
	color: rgba(103, 255, 99, 1);
}

a.next {
	padding: 15px;
	background: rgba(0,0,0,0.9);	
	position: fixed;
	top: 37px;
	z-index: 30;
	left: calc(50% + 13cm);
}

a.previous + h1 {
	clear: both;
}

a.previous {
	z-index: 30;
	padding: 15px;
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 37px;
	right: calc(50% + 13cm);
}

@media (min-width: 900px) {
	/* only use even with the tallest element first */
	.even {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.even.bar {
		padding-bottom: 0;
	}

	.half:not(.blank), .third:not(.blank), .full:not(.blank) { 
		background: #2c2c2c; 
	}

	.full {
		width: calc(100% - 64px);
		margin: 16px;
		padding: 16px;
	}

	.half {
		float: left;		
		width: calc(50% - 64px);
		margin: 16px;
		padding: 16px;
	}

	.third {
		float: left;
		width: calc(33% - 58px);
		margin: 16px;
		padding: 16px;
	}

	.even .half, .even .third {
		float: none;
	}

	.even .half + .half,
	.even .third + .third  {
		left: auto;
		right: 0;
		position: absolute;
		top: 0; 
		height: calc(100% - 64px);
	}	

	.even .third + .third { 
		left: 0; 
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.even .third + .third + .third {
		margin-right: 16px;
	}
}

.code {
	font-family: monospace;
}

.bar>textarea {
	background: #2c2c2c;
	color: white;
	font-size: 12pt;
	border: none;
	margin: 32px 2% 0px;
}

.bar>h2, .bar>p, .bar>h3, .bar>ul, .bar>h1, .bar>h4 {
	padding-top: 32px;
	margin: 0px auto 0px;
	max-width: 25cm;
}

.even h2, .even p, .even h3, .even ul {
	margin: 16px;
}


@media (min-width: 1200px) {
	body {
		font-size: 15pt;
	}

	.bar > textarea {
	    margin: 32px auto 0px;
	    width: 25cm;
	    display: block;
	}
}

table {
	margin: 0px auto 0px;
}

tr:nth-child(2n + 1) {
	background: #444;
}

tr:nth-child(2n + 1) {
	background: #666;
}

td:nth-child(2n + 1) {
	background: rgba(255, 255, 255, 0.15);
}

.title.bar {
	text-align: center;
}

.title.bar h1 {
	padding-top: 64px;
	font-size: 200%;
	padding-left: 32px;
	padding-right: 32px;
}

.title.bar p {
	margin: auto;
	padding-left: 32px;
	padding-right: 32px;
}

.title.bar .subtitle {	
	font-size: 200%;
	padding-left: 32px;
	padding-right: 32px;
}

.title.bar .subtitle a {
	color: #ffdc63;
	text-decoration: none;
}

.title.bar .subtitle a:after {
	content: '»';
}

.decorated.bar img {
	float: left;
	position: relative;
	left: 5%;
	padding-right: 5%;
}

.bar:after {
	content: '.';
	display: block;
	clear: both;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.detaroced.bar {
	position: relative;
	overflow: hidden;
}

.detaroced.bar p {
	padding-top: 0;
}

.detaroced.bar p + p {
	margin-top: 32px;
}

.detaroced.bar img {
	float: right;
	position: relative;
	max-width: 30%;
}

.blank {
	background: #888;
	color: white;
}

.monospace {
	background: rgba(80,80,80,0.8);
	color: white;
	border: solid 1px black;
	font-family: monospace;
	white-space: nowrap;
}

.funfact {
	margin: 16px auto;
	max-width: 25cm;
	padding: 16px;
	background: rgba(80,80,80,0.8);
}

.funfact h4 {
	padding-top: 0;
	margin: 0;
}

@media(min-width: 1400px) {
	.funfact {			
		width: 50%;
		max-width: 5cm;
		position: absolute;
		font-size: 80%;
		left: calc(50% + 13cm);
		margin-top: -20%;
	}

	.funfact.r {		
		left: auto;
		right: calc(50% + 13cm);
	}
}

span.monospace {
	border-radius: 2px;
}

p.monospace {
	padding: 8px;
	border-radius: 4px;
}

textarea.monospace {
	margin: 0px auto 0px;
	width: 100%;
	display: block;
	border: solid 1px black;
	background: rgba(255,255,255,0.1);
	max-width: 25cm;
	height: auto;
	position: relative;
	top: 8px;
}