.identifier {
	color: white;
}

.identifier_ {
	color: #D4C498;
}

.comment {
	color: #93A479;
}

.comment .identifier {
	color: #93A479;
}

.typename {
	color: #53EFC3;
}

.quote {
	color: #FFC7FF;
}

.quotef {
	color: #BD38F8;
}

.instances {
	color: #1E90FF;
}
